body { background-color: yellow; }
a:link { color: red; }
a:visited { color: blue; }

h1 { color: red; text-align: center; }
h2 { color: blue; text-align: right; font-style: italic;}
.largefont { font-size: 300%; }
h3 { color: red;  text-align: right;}

.pstart { font-weight: bold; font-style: italic; font-size: 140%; }
.redhighlight { color: red; }


div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: helloban;
  animation-duration: 4s;
  text-align: center;
  font-size:30pt;
}

@keyframes helloban {
  0%   {background-color:red; left:0px; top:0px;}
  100% {background-color:red; left:calc(100% - 100px) ; top:0px;}
}

.aligncenter { text-align: center; }
.alignright { text-align: right; }

.changecolor { animation-name: pulse;
           animation-duration: 5s; 
           animation-fill-mode: forwards;
           animation-iteration-count: 2; }

@keyframes pulse {
  0% {
    background-color: cyan;
    color: black;
  }
  100% {
    background-color: green;
    color: white
  }
}

td { padding: 10px; }
